table{
    width: 60rem;
    margin: 0 auto;
}

tbody{
    border: 3px solid #ffc3c3;
}

tbody th, tbody td{
    border: 1.5px dashed #ffc3c3;
}

tbody th{
    background-color: #fdf2f2;
    border: 3px solid #ffc3c3;
    color: #83c5ff;
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
}

.th-date{
    width: 8.5rem;
}

.td-date{
    padding: 5px;
    vertical-align: top;
}

tbody td{
    height: 3rem;
}
