.box{
    padding: 3em 1em;
    margin: 3em 2em;
    color:#565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}

h1{
    padding-top: 3em;
    padding-left: 2em;
    font-size: 2em;
    background: linear-gradient(transparent 90%, #a7d6ff 90%);
}