body{
    text-align: center;
}
.box{
    padding: 2em 2em;
    margin: 1rem auto;
    color:#565656;
    background: #fdf2f2;
    box-shadow: 0px 0px 0px 10px #fdf2f2;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    width: 70%;
    height: 25rem;
}

h1{
    font-weight: 800;
    font-family: "ヒラギノ丸ゴ Pro";
    color:  #565656;
    letter-spacing: 10px;
    margin: 2.5rem auto;
    display: block;
}

dl {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #ffc3c3, #ffc3c3 8px, transparent 8px, transparent 15px);
	background-size: 15px 2px;
	background-repeat: repeat-x;
	background-position: left bottom;
    margin: 10px 3.5rem;
  }
  
  dt {
    padding-top: 15px;
    width: 150px;
  }

  .n-r {
    font-size: 18px;
    padding-top: 15px;
    width: 180px;
  }
  
  dd {
    padding-top: 15px;
    width: calc(100% - 150px);
    text-align: left;
  }

  .btn_back{
    width: 10rem;
    background-color:#cbe7ff;
    list-style: none;
    font-family: "ヒラギノ丸ゴ Pro";
    font-size: 1rem;
    font-weight: 700;/*文字の太さ*/
    line-height: 1.5;
    display: inline-block;
    margin-top: 0.5rem;/*ボタン隙間*/
    margin-right: auto;
    margin-left: 0.1rem;
    padding:0.4rem 0.3rem;
    cursor: pointer;/*カーソルを変える*/
    vertical-align: top;/*上に揃える*/
    color: #51565c;
    border-radius: 0.5rem;/* 角を丸く */
    border: 3px solid #83c5ff;
    text-align: center;
  }

  .btn{
    width: 10rem;
  background-color:#ffedcb ;
  list-style: none;
  font-family: "ヒラギノ丸ゴ Pro";
  font-size: 1rem;
  font-weight: 700;/*文字の太さ*/
  line-height: 1.5;
  display: inline-block;
  margin-top: 0.5rem;/*ボタン隙間*/
  margin-right: auto;
  margin-left: 0.1rem;
  padding:0.4rem 0.3rem;
  cursor: pointer;/*カーソルを変える*/
  /* vertical-align: top;上に揃える */
  color: #51565c;
  border-radius: 0.5rem;/* 角を丸く */
  border: 3px solid #fcc89e;
  text-align: center;
  }

  




 